@font-face{
    src: url("../fonts/Raleway-Regular.ttf");
    font-family: Raleway;
}

@font-face{
    src: url("../fonts/Muli-Regular.ttf");
    font-family: Muli;
}

body{
    font-size: 16px;
    color: floralwhite;
    background-color: #611224;
    font-family: Raleway;
}

#header-nav{
    background-color: #fb3;
    border-radius:0;
    border:0;
}

#logo-img{
    background: url("../img/logoBig.png");
    width: 284px;
    height: 286px;
    margin: 10px 15px 10px 0;
}

.navbar-brand{
    padding-top: 25px;
}

.navbar-brand h1{
    font-family: Muli;
    color: #557c3e;
    font-size:1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height:.75;
}

.navbar-brand a:hover,.navbar-brand a:focus{
    text-decoration: none;
}

.navbar-brand p{
    color: #000;
    text-transform: uppercase;
    font-size: .7em;
    margin-top: 15px;
}

.navbar-brand p span{
    vertical-align: middle;
}